Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Boris Capitanu <capitanu@illinois.edu>
Description: HTRC User Manager application
Distribution: development